{% extends 'base.html' %}


{% block sub_title %}
  {{ question.question }}
{% endblock %}

{% block content %}
  <form action="" method="post">
    {% csrf_token %}
    <p id="errorText" hidden class="text-danger">Необходимо выбрать хотя бы один ответ</p>
    {% for answer in answers %}
      <input type="hidden" name="question_id" value="{{ question.pk }}">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="answer{{ answer.pk }}" name="answer_{{ answer.pk }}"
               id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          {{ answer.text }}
        </label>
      </div>
    {% endfor %}

    <button id='answerbtn' type="submit" class="btn btn-primary mt-3">Ответить</button>
  </form>

  <script>
      function validate(event) {
          checkboxes = document.getElementsByClassName('form-check-input')
          for (checkbox of checkboxes) {
              if (checkbox.checked) return
          }
          event.preventDefault()
          errorText.hidden = false
      }

      answerbtn.addEventListener("click", validate)
  </script>

{% endblock %}

